body {
    background: #ae97ff;
    font-family: Tahoma, Arial, sans-serif;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

img {
    height: 30px;
    width: auto;
}

p, h4 {
    font-size: 22px;
    margin-bottom: 0;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
}

h4 {
    font-size: 14px;
}

